<div class="body">

        <div class="rows">
                <div class="col-md-8 msg-wrapper">

                        <!--
                            Showing person's name who is Chatting with the  users Starts
                        -->
                        <div class="msg-wrapper-header">
                                <div class="chat-user-meta">
                                        <span class="user-name">{{send_to_user_name=='' ? 'Select User to Chat': send_to_user_name}} </span>
                                </div>
                        </div>
                        <!--
                          Showing person's name who is Chatting with the  users Ends
                      -->

                        <div class="msg-wrapper-body">
                                <!--
                                  Displaying messages to user when users Starts
                              -->
                                <div class="msg-container" id="msg-container">
                                        <div class="msg-single" ng-repeat="msg_data in msgs"
                                             ng-style="{
						  		'float': uid==msg_data.to_id ? 'left' :'right'
							}">
                                                <div class="msg-conatiner">
                                                        <div class="actual-msg">{{msg_data.msg}}</div>
                                                        <span class="msg-meta">{{msg_data.timestamp*1000 | date}}</span>
                                                </div>
                                        </div>
                                </div>
                                <!--
                                    Displaying messages to user when users Ends
                                -->

                                <!--
                                    Message box to send messages Starts
                                -->
                                <div class="send-container">
                                        <textarea class="form-control send-msg-text" ng-model='send_text' send-typing-notification placeholder="Type your message here" ></textarea>
                                        <h1 class="send-btn" ng-click="send_msg('','','')"><span class="glyphicon glyphicon-send"></span></h1>
                                </div>
                                <!--
                                    Message box to send messages Ends
                                -->
                        </div>
                </div>

                <div class="col-md-4  list-wrapper">
                        <div class="col-md-12 list-wrapper-header">
                                <div class="profile_pic">
                                        <img class="img-circle" ng-src="{{userlocal.urlfoto}}">
                                </div>
                                <div class="user-meta">
                                        <span class="user-name">{{userlocal.login}}</span>
                                        <span class="user-status">{{'Online'}}</span>
                                </div>
                        </div>
                        <div class="userlist">
                                <div class="userlist-single" ng-repeat="usuario in usuariosactivos" ng-hide="usuario.login==userlocal.login" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                        <div class="userlist-user-meta">
                                                <img class="img-circle" ng-src="{{usuario.urlfoto}}"/>
                                                <span  class="userlist-userName">{{usuario.login}}</span>
                                        </div>
                                </div>
                                <div ng-show="usuario.length == 1 && usuario[0].login==userlocal.login"  >
                                        <div class="alert alert-danger" >
                                                <p class="text-center" >
                                                        Everyone is offline.
                                                        <br/><br/>
                                                        Share this url and Tell your friends to come online.
                                                </p >
                                        </div >
                                </div>

                        </div>

                </div>
        </div>
</div>